@media (max-width: 1000px,) {
  .ant-layout-sider {
    display: none;
  }
  .ant-drawer-body {
    padding: 43px 5px;
    background-color: #2c2e3f;
  }

  .menu-button-large {
    display: none;
  }

  .select-market {
    margin-bottom: 5px;
    width: 170px;
  }

  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
    .ant-menu-item-selected {
    border-radius: 2px;
  }
}

@media (min-width: 1001px,) {
  .ant-layout-sider {
    height: 100%;
  }

  .ant-drawer {
    display: none;
  }

  .menu-button-small {
    display: none;
  }

  .select-market {
    margin-bottom: 5px;
    width: 250px;
  }

  .ant-menu-inline .ant-menu-item,
  .ant-menu-vertical .ant-menu-item {
    margin-top: unset;
  }
}

.ant-layout-sider,
.ant-menu.ant-menu-dark {
  background-color: #2c2e3f;
}

ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: #1b1b25;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #09a3e3;
}

.ant-btn-group > .ant-btn:first-child:not(:last-child) {
  border-radius: 19px 0 0 19px;
  background-color: #09a3e3;
  border-color: transparent;
  height: 35px;
}

.ant-btn {
  border-radius: 8px;
}

.ant-btn-group > .ant-btn:last-child:not(:first-child) {
  border-radius: 0 4px 4px 0;
  background-color: #09a3e3;
  border-color: transparent;
  border-left: 1px solid rgba(192, 177, 177, 0.26);
  height: 35px;
}

.ant-btn:hover,
.ant-btn:focus {
  background: #09a2e38c;
  color: white !important;
  border-color: #09a3e3 !important;
}

.ant-layout-content {
  background-color: #222431;
}

.ant-dropdown-menu {
  background-color: #2c2e3f;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  &:hover {
    border-color: #09a3e3;
  }
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector,
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-input:focus,
.ant-input:hover,
.ant-input-focused,
.ant-input-affix-wrapper:hover {
  border-color: #09a3e3;
}

.ant-select-dropdown {
  background-color: #2c2e3f;
}

.ant-modal-header,
.ant-modal-footer {
  background-color: #2c2e3f;
}

.ant-modal-header {
  border-radius: 16px 16px 0 0;
}

.ant-modal-footer {
  border-radius: 0 0 16px 16px;
}

.ant-modal-body {
  background-color: #222431;
}

.ant-radio-button-wrapper:hover {
  color: #09a3e3;
}

.anticon-info-circle {
  color: #09a3e3 !important;
}

.ant-select-item-option-active.ant-select-item-option-selected,
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #09a3e3 !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: unset;
}

a,
a.ant-typography,
.ant-typography a {
  color: #09a3e3;
}

.ant-switch-checked {
  background-color: #09a3e3;
}

.footer-items {
  img {
    height: 27px;
    margin: 0 7px;
  }
}

.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:focus {
  border-color: #09a3e3;
}
.ant-table {
  background: #222431;
}

.ant-table-content {
  background-color: #2c2e3f;
}

.ant-table-tbody > tr > td {
  border-bottom: 8px solid #2c2e3f !important;
}

.ant-table-thead > tr > th {
  background: #222431 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: #09a3e3;
}

.ant-tabs-ink-bar {
  background: #09a3e3;
}

.ant-tabs-tab:hover {
  color: #09a3e3;
}

.ant-tabs-tab-btn:active {
  color: #09a3e3;
  opacity: 0.8;
}

.ant-table-placeholder:hover {
  background: unset;
}

.ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after,
.ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after,
.ant-table-ping-left:not(.ant-table-has-fix-left) .ant-table-container::before {
  box-shadow: unset;
}

.ant-table-expanded-row-fixed {
  background-color: #2c2e3f;
}

.ant-modal-content {
  border-radius: 16px;
}

.ant-btn-primary {
  background: unset;
  border-color: unset;
}

.ant-input {
  height: 33px;
  border-radius: 8px;
  border: 1px solid #3e425b;
  background-color: #33364a;
}

.ant-input-group-addon,
.ant-input-affix-wrapper,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector,
.ant-select-dropdown,
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
  border: 1px solid #3e425b;
  background-color: #33364a;
}

.custom-group {
  .ant-input-affix-wrapper,
  .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
    .ant-select-selector,
  .ant-select-dropdown {
    border-radius: 0 8px 8px 0 !important;
  }
}

.ant-input-group-addon,
.ant-input-affix-wrapper {
  border-radius: 8px 0 0 8px;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector,
.ant-select-dropdown {
  border-radius: 8px;
}

.ant-radio-button-wrapper:last-child {
  border-radius: 0 8px 8px 0;
  border: 1px solid #3e425b;
}

.ant-radio-button-wrapper:first-child {
  border-radius: 8px 0 0 8px;
  border: 1px solid #3e425b;
}

.ant-input-group.ant-input-group-compact > *:last-child {
  border-radius: 0 8px 8px 0;
}

.ant-modal-title {
  font-weight: 600px;
  font-size: 18px;
  color: #ffffff8f;
}

.ant-slider-dot {
  background-color: #1b1b25;
  border: 2px solid #888888;
}

.ant-slider-step {
  background: #ffffff4d;
}

.ant-divider-horizontal.ant-divider-with-text {
  .anticon {
    font-size: 14px;
    padding-left: 2px;
  }
}
