@media (max-width: 1000px,) {
  .ant-layout-sider {
    display: none;
  }
  .ant-drawer-body {
    padding: 43px 5px;
  }

  .menu-button-large {
    display: none;
  }

  .select-market {
    margin-bottom: 5px;
    width: 170px;
  }
}

@media (min-width: 1001px,) {
  .ant-layout-sider {
    height: 100%;
  }

  .ant-drawer {
    display: none;
  }

  .menu-button-small {
    display: none;
  }

  .select-market {
    margin-bottom: 5px;
    width: 250px;
  }
}
